{% extends 'complaints/base.html' %}

{% block content %}

<h3>Update Status — {{ complaint.complaint_id }}</h3>

<div class="card bg-dark text-light border-secondary p-4">

    <p>
        <strong>Complaint:</strong>
        {{ complaint.title }}
    </p>

    <p>
        <strong>Current Status:</strong>
        {{ complaint.get_status_display }}
    </p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-warning">
            Update Status
        </button>

        <a href="{% url 'admin_complaint_list' %}"
           class="btn btn-outline-secondary ms-2">
            Back to Admin Panel
        </a>
    </form>

</div>

{% endblock %}